@model IEnumerable<EmployeeManagementOnline.Models.EmployeeViewModel>

@{
    ViewBag.Title = "EmployeeDetails";
}

<style>
    table, th, td {
        border: 1px solid black;
        padding: 15px;
        width: 100px;
    }
    h2{
        text-align:center;
    }

</style>
<h2>Welcome</h2>
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"]);
}
<br />
@Html.ActionLink("Add New Employee", "Create","Employee")

    @foreach (EmployeeManagementOnline.Models.EmployeeViewModel employee in Model)
    {
        @Html.Partial("_DisplayView",employee)
    }
