

    <html>
    <head>
        <title>@ViewBag.Title-Employee  Management Online</title>
        <link rel="stylesheet" href="~/Content/Style.css" type="text/css" />
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li>@Html.ActionLink("Employee Details", "Employee", "Employee")</li>
                <li>@Html.ActionLink("Add new Employee", "Create", "Employee")</li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>

